{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true
  },
  "plugins": ["prefer-object-spread"],
  "rules": {
    "new-cap": 0,
    "no-use-before-define": 0,
    "arrow-body-style": 0,
    "eqeqeq": [2, "allow-null"],
    "no-console": 0,
    "arrow-parens": 0,
    "prefer-object-spread/prefer-object-spread": 2
  },
  "globals": {
    "__DEV__": true
  }
}
